<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.sideproject.springworks.dto.AttendMapper">

	<select id="attendList" resultType="AttendanceDTO"> 
		select * from spw_attendance where user_id =#{userId} ORDER BY attend_date DESC
	</select>
	
	<select id="off" resultType="OffDTO" >
		select off_id as offID,
			user_id as userId,
			off_all as offAll,
			off_use as offUse,
			off_passi as offPassi
		 from spw_off where user_id =#{userId}
	</select>
	
	<insert id="insertStartTime" parameterType="String">
        <!--  INSERT INTO spw_attendance (start_time)
        VALUES (#{startTime})-->
	</insert>

</mapper>